.grid {
  position: relative;
  width: calc(var(--cols) * var(--cell-size));
  height: calc(var(--rows) * var(--cell-size));
  margin-top: 20px;
}

.cell {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 4px solid #333;
  box-sizing: border-box;
  transition: transform 0.4s ease;
  will-change: transform;
}


.cell:hover {
  background-color: #eee;
}
