.grid {
  display: grid;
  gap: 4px;
}

.cell {
  width: 60px;
  height: 60px;
  border: 4px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.cell:hover {
  background-color: #eee;
}
